  *{
      margin: 0;
      box-sizing: border-box;
  }
  #root{
      display: flex;
      justify-content: center;
  }
  .App{
      width: 800px;
  }
  .post{
      display: flex;
      padding: 15px;
      border: 2px solid teal;
      margin-top: 15px;
      justify-content: space-between;
      align-items: center;
  }
  .post__btn button{
      border-radius: 4px;
      background-color: crimson;
      font-weight: 500;
      font-size: large;
      color: rgb(236, 145, 163);
  }
   .open button{
    
    background-color: teal;
    color: rgb(174, 228, 203);
}

  .post-enter {
    transform: translateX(-350px);
  }
  .post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
  }
  .curent_page{
    background: teal;
  }
  .navbar{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    background: rgba(224, 224, 221, 0.678);
  }
  .nav_link{
    margin: 0 15px;
    
  }
  a{
    text-decoration: none;
    font-weight: 500;
    color: teal;
    font-size: 17px;
  }