.myModal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: none;
    background: rgba(0, 0, 0, 0.432);
} 

.myModalCont{
    padding: 25px;
    background: rgb(253, 253, 253);
    border-radius: 16px;
    min-width: 250px;
}

.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}